{% extends "public/app_template.html" %}
<!-- -->
{% block title %} {{ args.title }} {% endblock %}
<!-- -->
{% block body %} {% with args = args %}
<!-- -->

{% include "resources/navbar.html" ignore missing %}
<!-- -->

{% endwith %}
<!-- -->

{% endblock %}
<!-- -->

{% block centered %}

<table class="table">
    <thead>
        <tr>
            <th>
                Nº Usuarios:
            </th>
            <th>
                Nº tests A completados:
            </th>
            <th>
                Nº tests B completados:
            </th>
            <th>
                Nº tests C completados:
            </th>
            <th>
                Nº tests D completados:
            </th>
            <th>
                Nº tests E completados:
            </th>
            <th>
                Nº tests F completados:
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ args.user_number }}
            </td>
            <td>
                {{ args.A_number }}
            </td>
            <td>
                {{ args.B_number }}
            </td>
            <td>
                {{ args.C_number }}
            </td>
            <td>
                {{ args.D_number }}
            </td>
            <td>
                {{ args.E_number }}
            </td>
            <td>
                {{ args.F_number }}
            </td>
        </tr>

    </tbody>
</table>
<!-- -->
{{ args.html }}

<!-- -->
{% endblock %}

<!-- -->
{% block script %}
<script type="text/javascript" id="tmt" src="{{ url_for('static',filename='js/menu.js') }}" test_type='{{ test_type }}'></script>
{% endblock %}